<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Star Hotels Helps you Discover The Perfect Balance
	Of Hospitality, Luxury And
	Comfort.">
	<title>Star Hotels</title>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="~/css/global-header.css">
	<link rel="stylesheet" href="~/css/global-footer.css">
	<link rel="stylesheet" href="~/css/accesibility.css">
	<link rel="stylesheet" href="~/css/index.css">
	<link rel="shortcut icon" href="~/img/favicon.webp" type="image/x-icon">


	<!-- Font Awesome -->
	<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
	<!-- icheck bootstrap -->
	<link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/css/adminlte.min.css">



</head>
<body class="scroll-bar">
	
	<header>
		<div class="header-container">
			<nav class="header-nav-bar">
				<div class="header-nav-logo">
					<a href="index.html">
						<img src="https://res.cloudinary.com/joshuafolorunsho/image/upload/v1591615159/star_hotels_logo.png"
							 alt="star hotels logo">
					</a>
				</div>
				<ul class="header-nav-lists">
					<li class="header-nav-list">
						<a class="header-nav-link header-active" href="index.html">Home</a>
					</li>
					<li class="header-nav-list">
						<a class="header-nav-link"
						   href="rooms-and-suites.html">Rooms and Suites</a>
					</li>
					<li class="header-nav-list"><a class="header-nav-link" href="facilities.html">Facilities</a></li>
					<li class="header-nav-list"><a class="header-nav-link" href="contact-page.html">Contact Us</a></li>
					<li class="header-nav-list"><a class="header-btn header-btn-custom" asp-controller="Login" asp-action="Giris">Login</a></li>
				</ul>

				<div class="header-hamburger-icon">
					<div class="header-hamburger-line-1"></div>
					<div class="header-hamburger-line-2"></div>
					<div class="header-hamburger-line-3"></div>
				</div>
			</nav>
		</div>

		</div>
	</header>


	<div class="container-fluid">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="footer">
		<div class="footer-container">
			<nav class="footer-nav">
				<div class="footer-description">
					<h3 class="footer-description-title">Star Hotels</h3>
					<p>Hospitality and Comfort are our watchwords</p>
				</div>
				<div class="footer-contact-us">
					<h3 class="footer-description-title">Contact Us</h3>
					<p class="footer-description-detail">
						<img src="~/img/map-pin.svg" class="footer-description-icon" alt="star hotel location">

						<span>23, Fola Osibo, Lekki Phase 1</span>
					</p>
					<p class="footer-description-detail">
						<img src="~/img/phone.svg" class="footer-description-icon" alt="star hotels phone number">
						<span>
							08185956620
						</span>
					</p>
					<p class="footer-description-detail">
						<img src="~/img/mail.svg" class="footer-description-icon" alt="star hotels email">
						<span>support@starhotels.com</span>
					</p>
				</div>
				<div class="footer-follow-us">
					<h3 class="footer-description-title">Follow Us</h3>
					<ul class="footer-follow-us-lists">
						<li class="follow-us-list">
							<a href="">
								<img src="~/img/facebook.svg" alt="star hotels facebook page">
							</a>
						</li>
						<li class="follow-us-list">
							<a href="">
								<img src="~/img/twitter.svg" alt="star hotels twitter page">
							</a>
						</li>
						<li class="follow-us-list">
							<a href="">
								<img src="~/img/instagram.svg" alt="star hotels instagram page">
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script defer async src="~/js/toggleHamburger.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>